.App {
    /* text-align: center; */
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.container {
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    overflow: hidden;
    background: red;
}
.value {
    background-color: lightblue;
}
.val {
    background-color: lightcoral;
}
.flex {
    display: flex;
    background: green;
}
.flex .flexA {
    background-color: lightblue;
    flex: 0 1 auto;
}
.flex .flexB {
    flex: 0 1 auto;
    background-color: lightcoral;
    white-space: nowrap;
}
